@import "variable";
@import "compass/reset";
// 字体 @font-face

// Ping Hei light
@font-face{
	font-family: "PingHeilight";
	src:url("../../static/font/pinghei-light.eot");
	src:url("../../static/font/pinghei-light.eot?#font-spider") format("embedded-opentype"),
		url('../../static/font/pinghei-light.woff') format('woff'),
		url("../../static/font/pinghei-light.ttf") format("truetype"),
		url("../../static/font/pinghei-light.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}
body{font-family:"PingHeilight",MicroSoft YaHei,sans-serif;font-size: $fontMiddle;line-height: 1.5;-webkit-text-size-adjust:none;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
a{text-decoration: none;outline: none}
.hide{display: none}
.opacity{opacity: 0;filter:alpha(opacity=0);}



