/**
* z-index
* photo pop:10000
* header:9999
* notice:9998
* mask:9997
*/
// variable
// imgUrl
$imgUrl:"../images/";

// page width
$pageWidth:1100px;

// color
$colorBg:#2b2a2a;
$colorBgLight:#363636;
$colorText:#000;
$colorTextDark:#7b7a7a;
$colorTextLight:#a5a5a5;
$colorHoverLight:#b8b9ba;
$colorHover:#2c2567;
$colorTip:#666;
$colorLinkHover:#fa8e0e;
$colorBorder:#ccc;
$colorBorderDark:#232323;
$colorInputBg:#fff;
$colorErrorTip:#ffef6c;
$colorTitle:#dbdada;
$colorBorderS:#777;
$colorBorderUp:#d4d4d4;
$colorBorderShadowT:#ededed;
$colorBorderShadowB:#bebfbf;
$colorLight:#b2b2b2;
$colorGray:#797979;
$colorBlue:#0360af;
// font size
$fontLarger:24px;
$fontLarge:20px;
$fontBig:18px;
$fontDefault:16px;
$fontMiddle:14px;
$fontMini:12px;

// radius
$radius:5px;
$radiusSmall:3px;
