// variable
// imgUrl
$imgUrl:"../images/";

// page width
$pageWidth:1100px;

// color
$colorText:#1a1a1a;
$colorTextLight:#999;
$colorWhite:#fff;
$colorAhover:#838383;
// font size
$fontLargest:60px;
$fontLarge:20px;
$fontBig:18px;
$fontDefault:16px;
$fontMiddle:14px;
$fontMini:12px;

// radius
$radius:5px;
$radiusSmall:3px;
